@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-first: #FFCD70;
  /* --color-first: #ffcd70; */
  --color-second: #FFE5D9;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}



/* home top-banner */
.top-banner {
  background-color: var(--color-first);
}
/* home we provide */
.we-provide, .mobileApp {
  background-color: var(--color-second);
}

.bg-courses {
  background-image: url(./assets/images/breadcumb-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* breadcrumbs */

.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb::after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child::after{
  display: none;
}